*{
    background: #004539;
    color: #FFFFFF;
    font-family: 'Abel', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
    list-style-position: inside;
}
#icons{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1.0em;
  height: 100%;
  width: 5vw;
  right: 0;
  z-index: 1;
  position: fixed;
  text-align: center;
}
#icons *{
  font-size: 1.2em;
  padding-bottom: 0.5em;
  text-decoration: none;
}
h2{
  text-align: center;
}
#headshot{
  margin-right: 5%;
}
#headshot img{
  width: 8.0em;
  height: 8.0em;
  border-radius: 50%;
}
#name{
  font-family: 'Amatic SC', cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 4.0em;
}
#frontpage{
  height: 100vh;
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#intro{
  width: 60%;
  vertical-align: top;
  line-height: 0.1em;
}
#intro p{
  line-height: 1.0em;
}
#experience-block *{
  position: relative;
  color: #000000;
  margin: auto;
  font-size: 0.85em;
}
#title-block{
  width: 95%;
  height: 3.0em;
  vertical-align: top;
  background: #C4C4C4;
  border-radius: 0.5em 0.5em 0em 0em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: left;
}
#title-block *{
  font-weight: bold;
  background: #C4C4C4;
  width: auto;
}
#descr-block{
  width: 95%;
  height: auto;
  margin-bottom: 5%;
}
#descr-block *{
  position: relative;
  background: #FFFFFF;
  border-radius: 0em 0em 0.5em 0.5em;
  padding: 0.75em;
}
#technical{
  width: 93vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#projects{
  width: 93vw;
}
#folder{
  margin: auto;
  background: #F1D592;
  border-radius: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#folder-tabs{
  display: flex;
  flex-direction: column;
  margin: auto;
}
.open-tab, .open-tab img{
  background: #F1D592;
}
.closed-tab, .closed-tab img{
  background: #A89566;
}
#folder-tabs *{
  border-radius: 0.5em 0em 0em 0.5em;
  padding: 0.25em;
}
#folder-content{
  width: 95%;
  height: 75%;
  position: relative;
  color: #000000;
  background: #F1D592;
  position: relative;
  padding: 0.75em;
}
#leadership{
  width: 93vw;
}
#skills{
  height: 80vh;
  width: 93vw;
}
footer{
  font-size: 0.75em;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
footer img{
  width: 1.5em;
  height: 1.5em;
  padding: 0.25em;
}
