*{
    background: #004539;
    color: #FFFFFF;
    font-family: 'Abel', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    width: device-width;
}
nav{
  font-family: 'Amatic SC', cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  background: #2F6E64;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  padding: 0.5em;
}
.btn-default{
  color: #1F618D;
  font-size: 3.0em;
  text-decoration: none;
}
h2{
  text-align: center;
}
#headshot{
  width: 8.0em;
  height: 8.0em;
  border-radius: 50%;
  background: #C4C4C4;
}
#name{
  font-family: 'Amatic SC', cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 5.0em;
}
#frontpage{
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  margin: auto;
  height: 100vh;
}
#intro{
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0.5em;
}
#intro *{
  margin-bottom: 0.1%;
}
#intro p{
  width: auto;
  padding-bottom: 0.5em;
}
#frontpage-icons{
  display: flex;
  flex-direction: row;
  vertical-align: center;
  font-size: 0.25em;
}
#intro a{
  padding-right: 2.0em;
}
#experience-block *{
  position: relative;
  color: #000000;
  margin: auto;
  font-size: 24px;
}
#title-block{
  width: 95%;
  height: 3.0em;
  vertical-align: top;
  background: #C4C4C4;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: left;
}
#title-block *{
  font-weight: bold;
  background: #C4C4C4;
  width: auto;
}
#descr-block{
  width: 95%;
  height: auto;
}
#descr-block *{
  position: relative;
  background: #FFFFFF;
  border-radius: 0px 0px 15px 15px;
  padding: 0.75em;
}
#technical{
  height: 100vh;
}
#projects{
  height: 100vh;
}
#leadership{
  height: 100vh;
}
#skills{
  height: 100vh;
}
#contact{
  text-align: center;
  align-items: center;
  height: 50vh;
}
#footer-icons{
  display: flex;
  flex-direction: row;
  vertical-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#contact a{
  padding-left: 0.5em;
  padding-right: 0.5em;
}
footer{
  font-size: 18px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
footer img{
  width: 1.5em;
  height: 1.5em;
  padding: 0.25em;
}
