@media screen and (min-width: 768px){
  #icons{
    font-size: 1.0em;
    width: 5vw;
  }
  #frontpage{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #headshot{
    margin-right: 5%;
    width: 8.0em;
    height: 8.0em;
  }
  #intro{
    width: 75%;
  }
  #name{
    font-size: em;
  }
  #projects{
    width: 93vw;
  }
  #folder{
    display: flex;
    flex-direction: row;
  }
  #folder-tabs{
    display: flex;
    flex-direction: column;
  }
  #folder-tabs *{
    border-radius: 0.5em 0em 0em 0.5em;
  }
  #folder-content{
    width: 95%;
    height: 75%;
    padding: 0.75em;
  }
  footer{
    width: 93vw;
}
}
@media screen and (max-width: 768px) and (min-width: 481px){
  #icons{
    font-size: 1.0em;
    width: 5vw;
  }
  #frontpage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #name{
    font-size: 1.0em;
  }
  #intro p{
    font-size: 1.0em;
  }
  #headshot{
    width: 5.0em;
    height: 5.0em;
    margin-bottom: 5%;
  }
  #projects{
    width: 85vw;
  }
  #folder{
    display: flex;
    flex-direction: row;
  }
  #folder-tabs{
    display: flex;
    flex-direction: column;
  }
  #folder-tabs *{
    border-radius: 0.5em 0em 0em 0.5em;
  }
  #folder-content{
    width: 75%;
    height: 75%;
    padding: 0.25em;
  }
  footer{
    width: 85vw;
}
}
@media screen and (max-width: 480px){
  #icons{
    font-size: 0.75em;
    width: 10vw;
  }
  #frontpage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #name{
    font-size: 1.0em;
  }
  #intro p{
    font-size: 1.0em;
  }
  #headshot{
    width: 0.025rem;
    height: 0.025rem;
    margin-bottom: 5%;
  }
  #projects{
    width: 75vw;
  }
  #folder{
    display: flex;
    flex-direction: column;
    width: 90vw;
  }
  #folder-content{
    width: 25%;
    height: 75%;
    padding: 0.5em;
    font-size: 0.5em;
  }
  #folder-tabs{
    display: flex;
    flex-direction: row;
    margin: auto;
  }
  #folder-tabs *{
    width: auto;
    height: 10vh;
    border-radius: 0.5em 0.5em 0em 0em;
  }
  footer{
      width: 85vw;
  }
}
*{
    background: #004539;
    color: #FFFFFF;
    font-family: 'Chivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
}
body{
  margin: 0;
}
#icons{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  right: 0;
  z-index: 1;
  position: fixed;
  text-align: center;
}
#icons *{
  font-size: 1.2em;
  padding-bottom: 0.5em;
  text-decoration: none;
}
h2{
  text-align: center;
}
#headshot{
  border-radius: 50%;
  background: #9a9a9a;
  width: 8.0em;
  height: 8.0em;
}
#name{
  font-family: 'Comfortaa', cursive;
  font-style: normal;
  font-weight: bold;
}
#intro{
  width: 60%;
  vertical-align: top;
  line-height: 0.1em;
}
#intro p{
  line-height: 1.0em;
}
#folder{
  margin: auto;
  margin-left: 2.5%;
  margin-bottom: 2.5%;
  background: #F1D592;
  border-radius: 0.5em;
  align-items: center;
  justify-content: center;
}
#folder-tabs{
  margin: auto;
}
.open-tab, .open-tab img{
  background: #F1D592;
}
.closed-tab, .closed-tab img{
  background: #A89566;
}
#folder-tabs *{
  padding: 0.25em;
}
#folder-content{
  position: relative;
  color: #000000;
  background: #F1D592;
  position: relative;
  text-align: center;
}
footer{
  left: 0;
  font-size: 0.75em;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5%;
}
footer img{
  width: 1.5em;
  height: 1.5em;
  padding: 0.25em;
}